<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
            <%= "#{message.user.email}  : #{message.body}" %>
      </div>
    </div>
  </div>
</div>
